nav ul li a {
    padding: 20px;
    display: block;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header {
    margin-bottom: 20px;
}