Your goal:
<%= render 'shared/show_goal_basic', goal: @goal %>
<p>Goal comments:
  <% @goal.comments.each do |comment| %>
    <b><%= comment.body %></b>
  <% end %>

  <%= render 'shared/comments_form', commentable_id: @goal.id, commentable_type: @goal.class %>
</p>

