body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

body h1 {
    font-size: 38px;
}

body h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: disc outside;
}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}


