input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
