/* RESET CSS STYLING FROM ALL SITE ELEMENTS */

body, header, aside, section, footer, figure, h1, h2, p, ol, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}


body {
  line-height: 1.5;  
}

/* This doesn't override the site's list style because advanced_selectors.css 
    uses more specific selector - .ingridients_list*/
ol, ul {
  list-style: none;
}

/* Make sure images always take up the width of their parents.
   Inherit means it'll inherit the value of parent - not fill it up */
img {
  width: 100%;
}